# Dependencies
node_modules

# Build outputs
dist
build

# Environment files
.env
.env.*

# Logs
*.log
npm-debug.log*

# Coverage / testing
coverage/
__tests__/

# Editor / OS files
.DS_Store
.idea
.vscode

# Prisma local database
prisma/dev.db
